body {
  background: #fff;
  color: #000;
  margin: 0;
  padding: 0;
}

.app {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
}

.app__left {
  width: 400px;
  background: #ccc;
  display: flex;
  flex-direction: column;
}

.app__left-top {
  flex: 1;
}

.app__left-bottom {
  flex: 1;
}

.app__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

#canvas1,
#canvas2 {
  /* background-image: url(media/s.JPG);
  background-repeat: no-repeat;
  background-size: 100% 100%; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#canvas1 {
  z-index: 100;
}
#canvas2 {
  z-index: 200;
}

.preview {
  width: 800px;
  height: 450px;
  background-image: url(media/s.JPG);
  background-size: 100% 100%;
  position: relative;
}

#c1,
#c2 {
  /* visibility: hidden; */
  opacity: 0.4;
  z-index: -1;
}
